<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="logs" />
    <property name="LOG_PATTERN" value="[monitor] %d{YYYY-MM-dd HH:mm:ss} [%thread] %-5level %logger{32} %file:%line - %m%n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="monitor" class="com.acgist.health.monitor.logger.MonitorLoggerAppender">
    </appender>

    <root level="debug">
        <appender-ref ref="console" />
        <appender-ref ref="monitor" />
    </root>

</configuration>