<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ACGIST-CANAN-任务管理</title>
	
	<link href="resources/css/style.css" rel="stylesheet" type="text/css" />
	<script src="resources/js/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
</head>
<body>
	<header>
		<h1>ACGIST-CANAN-任务管理</h1>
	</header>
	<main>
		<div class="task-list">
			<ul id="tasks">
				<li>
					<span class="width-10">任务名称</span>
					<span class="width-8">创建时间</span>
					<span class="width-10">当前状态</span><!-- 准备中|运行中|已完成|已取消 -->
					<span class="width-8">操作</span><!-- 查看|取消|删除 -->
				</li>
			    <li v-for="task in tasks">
					<span class="width-10">{{ task.name }}</span>
					<span class="width-8">{{ task.createDate }}</span>
					<span v-if="task.state==='ready'" class="width-10">准备中（{{ task.processed }} / {{ task.totalPage }}）</span>
					<span v-if="task.state==='running'" class="width-10">运行中（{{ task.processed }} / {{ task.totalPage }}）</span>
					<span v-if="task.state==='over'" class="width-10">已完成（{{ task.processed }} / {{ task.totalPage }}）</span>
					<span v-if="task.state==='cancel'" class="width-10">已取消</span>
					<span class="width-8">
						<a class="view" v-bind:href="'/html/task.html?id='+task.id">查看</a>
						<a v-if="task.state==='running'" class="cancel" v-bind:href="'/task/cancel?id='+task.id">取消</a>
						<a class="delete" v-bind:href="'/task/delete?id='+task.id">删除</a>
					</span>
			    </li>
			</ul>
		</div>
	</main>
	<footer>
		<p>
			<a href="/html/task.html">添加任务</a>
			<a href="https://www.acgist.com">ACGIST</a>
		</p>
	</footer>
	<script type="text/javascript">
		$.get("/task/list", function(data) {
			var tasks = new Vue({
				el : '#tasks',
				data : {
					tasks : data
				}
			});
		});
	</script>
</body>
</html>