<!DOCTYPE html>
<html>
    <head>
        <title>vue</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <div id="app">
            <m-c :class="{'active' : active}" :style="{'color' : color}"></m-c>
            <p :style="style">你说这个是demo</p>
            <p>{{ change }}</p>
            <p v-once>{{ once }}</p>
            <!-- 不保留template标签 -->
            <template v-if="active">
                <p>1</p>
                <p>2</p>
            </template>
            <div v-if="active">
                <p>1</p>
                <p>2</p>
            </div>
            <!-- 如果不使用key不会替换input元素 -->
            <template v-if="type === 'mail'">
                <label>邮箱</label>
                <input placeholder="邮箱" key="mail" />
            </template>
            <template v-else>
                <label>手机</label>
                <input placeholder="手机" key="mobile" />
            </template>
            <button @click="changeInput">切换</button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script>
            Vue.component("m-c", {
                template : '<p class="title">测试</p>'
            });
            var app = new Vue({
                "el" : "#app",
                "data" : {
                    color : "red",
                    active : true,
                    once : "once",
                    type : "mail",
                    change : "change",
                    style : {
                        color : "red",
                        "font-family" : "微软雅黑",
                        fontSize : "40px"
                    }
                },
                methods : {
                    changeInput : function() {
                        this.type = this.type === "mail" ? "mobile" : "mail";
                    }
                }
            });
            console.log(app.books);
            // console.log(app.data.books); // 错误
        </script>
    </body>
</html>