@charset "UTF-8";
/** 通用 */
::selection{background:#1ABC9C;color:#FFFFFF;}
@media screen and (min-width:800px){html{font-size:16px;}.header nav{width:80%;}.main{width:80%;}}
@media screen and (min-width:1200px){html{font-size:18px;}.header nav{width:70%;}.main{width:70%;}}
@media screen and (min-width:1600px){html{font-size:20px;}.header nav{width:70%;}.main{width:70%;}}
*{margin:0;padding:0;border:none;outline:none;box-sizing:content-box;}
html,body{background:#F0F0F0;}
body{font-family:Arial,Consolas,SimSun,"微软雅黑";color:#22222;font-weight:normal;}
a{color:#008CBA;}
a:link{text-decoration:none;}
a:hover{color:#0078A0;text-decoration:none;}
a:visited{text-decoration:none;}
p{margin:0 0 0.4rem 0;}
h1, h2, h3, h4, h5, h6{padding:1rem 0;}
.button{font-weight:normal;background:#666;margin:2px 4px 2px 4px;padding:6px 10px;color:#fff;border-radius:2px;}
.button:hover{color:#fff;background:#555;cursor:pointer;}
.center{margin:auto;text-align:center!important;}
input{box-shadow:0px 0px 3px 0px rgba(0,0,0,0.15) inset;border:1px solid rgba(0,0,0,0.15)!important;padding:0.2rem 0.6rem;font-size:1rem;line-height:1rem;height:1rem;}
input:focus,input:hover{border:1px solid #1ABC9C!important;}
input::-webkit-calendar-picker-indicator{color:#1ABC9C;background:none;}
textarea{box-shadow:0px 0px 3px 0px rgba(0,0,0,0.15) inset;border:1px solid rgba(0,0,0,0.15)!important;}
textarea:hover,textarea:focus{border:1px solid #1ABC9C!important;}
/** 头部 */
.header{position:fixed;box-shadow:0px 0px 1px rgba(0,0,0,0.2);background:rgba(255,255,255,0.8);width:100%;left:0;top:0;z-index:999;overflow:hidden;height:3.2rem;}
.header nav{margin:auto;}
.header a{cursor:pointer;float:left;padding:1rem;height:1.2rem;font-size:1.2rem;line-height:1.2rem;}
.header a:hover{text-decoration:none;background:#1ABC9C;color:#fff;transition:all 200ms ease-in-out;}
.header .user{float:right;width:auto;}
/** 底部 */
.footer{background:#2D3237;color:#BBBBBB;padding:1rem 0;text-align:center;}
.footer a{color:#BBBBBB;}
.footer a:hover{color:#FFFFFF;}
.footer .copyright{font-size:0.8rem;}
.main{margin:4.2rem auto 1rem auto;}
/** 错误 */
/** 首页 */
.home{text-align:center;font-size:4rem;}
/** 登录 */
.login{width:60%;margin:auto;text-align:center;}
.login .register{padding:1rem;}
/** 用户中心 */
.user{width:60%;margin:auto;text-align:center;}
.user p{float:none;clear:both;overflow:hidden;line-height:1.4rem;text-align:left;}
.user label{float:left;width:40%;text-align:right;padding:0 1rem 0 0;}
.user span{float:left;width:50%;text-align:left;}
/** 订单 */
.order{width:60%;margin:auto;}
