@CHARSET "UTF-8";
::selection{background:#1ABC9C;color:#fff;}
@media screen and (min-width:800px){html{font-size:16px;}}
@media screen and (min-width:1200px){html{font-size:18px;}}
@media screen and (min-width:1600px){html{font-size:20px;}}
*{margin:0;padding:0;border:none;outline:none;box-sizing:content-box;}
html{background:#FFFFFF;/*filter:grayscale(100%);*/width:30rem;height:auto;padding:2rem;}
html,body{font-family:Arial,Consolas,SimSun,"宋体";color:#222;font-weight:normal;}
body{width:100%;height:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);font-size:1rem;}
a{color:#008CBA;}
a:link{text-decoration:none;}
a:hover{color:#0078A0;}
a:visited{text-decoration:none;}
ol,ul,li{list-style:none;}
input[type=text],input[type=number]{box-shadow:0px 0px 3px 0px rgba(0,0,0,0.15) inset;border:1px solid rgba(0,0,0,0.15)!important;}
input[type=text]:focus,input[type=number]:focus,input[type=text]:hover,input[type=number]:hover{border:1px solid #1ABC9C!important;}
textarea{box-shadow:0px 0px 3px 0px rgba(0,0,0,0.15) inset;border:1px solid rgba(0,0,0,0.15)!important;}
textarea:hover,textarea:focus{border:1px solid #1ABC9C!important;}
.header{text-align:center;}
.footer{text-align:center;}
.main input{padding:0.4rem;}
.main li{margin:0.2rem 0;}
.main span{display:inline-block;width:8rem;}
.main input{width:20rem;}